<div class="card-conteiner">
    <mat-card class="example-card">
        <mat-card-content>
            <p> Direccion: {{direccion}} </p>
            <p> Hora: {{hora}}</p>
            <p> Equipos: {{marcaModeloEquipo}}</p>
            <p> Estado del viaje: {{obtenerNombreStatusTravel(estadoDelViaje)}}</p>
        </mat-card-content>

        <mat-card-actions align="end"> 
            <button class="boton-aceptar" mat-stroked-button color="primary" *ngIf="viajeEsAceptable()" (click)="aceptarViaje()" > Aceptar viaje</button>
            <button class="boton-entregado" mat-stroked-button color="primary" *ngIf="viajeEsEntregable()" (click)="marcarComoEntregado()"> Entregado </button>
            <div class="botones">
                <button class="bot" mat-stroked-button color="primary" *ngIf="viajeEsIniciable()" (click)="retirado()"> Iniciar viaje</button>
                <button class="bot" mat-stroked-button color="primary" *ngIf="viajeEsCancelable()" (click)="cancelarViaje()"> Cancelar Viaje</button>
            </div>           
        </mat-card-actions>
    </mat-card>
</div>
